@tailwind base;
@tailwind components;

.max-image {
  max-width: 500px;
}

.sombra{
  -webkit-box-shadow: 11px 12px 6px 1px rgba(0, 0, 0, 0.59);
  box-shadow: 11px 12px 6px 1px rgba(0, 0, 0, 0.59);
}

@tailwind utilities;
